In [34]:
import pandas as pd
import numpy as np

In [51]:
NODE_TOTAL  = 30
ITERATION   = 10

In [52]:
df = pd.read_csv('tc_applied_rule.csv')
df['next_hop'] = 0

In [53]:
# Open a file for reading
for tx_node_id in range(NODE_TOTAL):
    for iter in range(ITERATION):
        with open('/tmp/seedsim/tc_command/{}/routeLog/log_{}.txt'.format(tx_node_id, iter), 'r') as file:
            # Read the entire file
            content = file.read()

        for row in content.split('\n'):
            if len(row) > 0 and row.split(' ')[1] == 'via':
                rx_node_id = int(row.split(' ')[0].split('.')[-1])%100
                next_hop = int(row.split(' ')[2].split('.')[-1])%100
                # Update the cell
                condition = (df['tx_node_id'] == tx_node_id) & (df['Iter'] == iter) & (df['rx_node_id'] == rx_node_id)
                df.loc[condition, 'next_hop'] = next_hop

df.to_csv('next_hop.csv', index=False)

In [54]:
df = pd.read_csv('next_hop.csv')

In [55]:
df

      Iter  tx_node_id  rx_node_id  LossRate  next_hop
0        0           0           1      0.00         1
1        0           0           2      0.00         2
2        0           0           3      0.00         3
3        0           0           4     59.11         2
4        0           0           5     93.09         3
...    ...         ...         ...       ...       ...
4345     9          26          28      0.00        28
4346     9          26          29      0.00        29
4347     9          27          28      0.00        28
4348     9          27          29      0.00        29
4349     9          28          29      0.00        29

[4350 rows x 5 columns]

In [56]:
df['next_hop_check'] = np.nan
# Check if 'Column1' equals 'Column2' when 'Column3' is equal to 0
condition = ((df['LossRate'] == 0.0) & (df['rx_node_id'] == df['next_hop']))\
            | ((df['LossRate'] == 100.0) & (df['rx_node_id'] != df['next_hop']))

# Create a new column 'EqualColumns' based on the condition
df['next_hop_check'] = condition

In [57]:
condition = (df['LossRate'] != 0.0) & (df['LossRate'] != 100.0)
df.loc[condition, 'next_hop_check'] = np.nan

In [59]:
filtered_df = df[df['next_hop_check'] == False]

In [61]:
filtered_df

Empty DataFrame
Columns: [Iter, tx_node_id, rx_node_id, LossRate, next_hop, next_hop_check]
Index: []

In [58]:
df

      Iter  tx_node_id  rx_node_id  LossRate  next_hop next_hop_check
0        0           0           1      0.00         1           True
1        0           0           2      0.00         2           True
2        0           0           3      0.00         3           True
3        0           0           4     59.11         2            NaN
4        0           0           5     93.09         3            NaN
...    ...         ...         ...       ...       ...            ...
4345     9          26          28      0.00        28           True
4346     9          26          29      0.00        29           True
4347     9          27          28      0.00        28           True
4348     9          27          29      0.00        29           True
4349     9          28          29      0.00        29           True

[4350 rows x 6 columns]